@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --scrollColor: #e4e4e7;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --scrollColor: #27272a;
  }
}

.container {
  @apply w-full max-w-[1536] mx-auto px-4;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ico {
  display: none;
}

@media screen and (max-width: 1170px) {
  .nav {
    display: none;
  }
  .Desk_logo {
    display: none;
  }
  .ico {
    display: block;
  }
}

.img {
  mask-image: url("https://s2.getsitecontrol.com/templates/masks/MessageDiscount-Slidein-9-Desktop-1.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  object-fit: cover;
  object-position: 50% 50%;
  width: 800px;
}
.img_div::before {
  content: "";
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22230%22%20height%3D%22300%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%230f0f0f%22%20stroke-width%3D%222%22%20d%3D%22M79.73%2018.6C98.8%203.77%20115.25-1.77%20129.07%202.28c13.83%204.05%2024.9%2017.66%2033.4%2040.59%201.19%203.19%202.18%206.17%203.02%208.98l.41%201.4.4%201.36.36%201.33.35%201.31.33%201.29.32%201.26.3%201.23.43%201.81.4%201.76%201.25%205.54.36%201.58.37%201.54.37%201.5.25.99.13.5.27.96.28.95c1.47%204.97%203.4%209.43%206.74%2013.88l1.4%201.85%201.4%201.84%201.72%202.23%204.16%205.36%201.22%201.58%201.56%202.03%201.59%202.08%201.29%201.72%201.32%201.76.93%201.26%201.41%201.93.96%201.33.97%201.35.99%201.38.99%201.42%201%201.45.52.74%201.54%202.26%201.58%202.36%201.07%201.61%201.08%201.66%201.1%201.7.55.87%201.12%201.76%201.14%201.81c14.43%2023.17%2020.63%2054.58%2016.15%2081.83-3.92%2023.88-16.06%2044.6-38.17%2053.61-47.7%2019.45-84.89%2028.07-131.5%2025.84-22.98-1.1-39.06-7.5-48.13-19.34-9.07-11.85-11.07-29.1-6.19-51.65l.6-2.75.28-1.37.58-2.72.56-2.7.55-2.7.55-2.67.53-2.65.52-2.64.64-3.28.62-3.24.72-3.86.47-2.56.68-3.8.44-2.5.44-2.5.42-2.48.4-2.46.4-2.45.4-2.43.38-2.4.36-2.4.36-2.38.35-2.36.33-2.34.49-3.48.46-3.45.3-2.28.28-2.25.27-2.25.26-2.22.25-2.21.25-2.2.23-2.17.22-2.16.2-2.14.2-2.12.2-2.11.17-2.1.17-2.07.15-2.05.15-2.04.13-2.03.13-2%20.06-1%20.1-1.98.1-1.97.1-1.95.1-2.88c1.1-31.6%2021.03-62.34%2059.6-92.32Z%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 230px;
  height: 300px;
  left: auto;
  right: 40px;
  top: calc(50% - 4px);
  position: absolute;
  z-index: 20;
  transform: translate(0, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollColor);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
